html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center; /* centro horizontal */
  align-items: center;     /* centro vertical */
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}